@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: "";
  margin-bottom: -0.1641em;
  display: table;
}

.capsize::after {
  content: "";
  margin-top: -0.1914em;
  display: table;
}

.footer {
  flex: 0 0 50px;
  margin-top: auto;
}

.dark .landing {
  background-image: url("/img/badboidtreasure_black.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.light .landing {
  background-image: url("/img/badboidtreasure.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.97);
  background-blend-mode: lighten;
}

@media (min-width: 1024px) {
  .maskImage {
    position: relative;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: perspective(120px) rotateY(-4deg) translatez(0)
      translatex(-80px);
    -ms-transform: perspective(120px) rotateY(-4deg) translatez(0)
      translatex(-80px);
    transform: perspective(120px) rotateY(-4deg) translatez(0) translatex(-80px);
    z-index: 0;
    will-change: -webkit-mask-position, -moz-mask-position, mask-position,
      transform;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0.1) 50%
    );
    mask-image: radial-gradient(
      circle at 50% 50%,
      black 10%,
      rgba(0, 0, 0, 0.1) 50%
    );
    -webkit-mask-position: 0% 50%;
    mask-position: 0% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 200% 200%;
    mask-size: 200% 200%;
    right: -80px;
    padding: 1rem;
  }
}
